// .partners_wrapper {
//   display: flex;
//   justify-content: center;
//   flex-direction: column;
//   align-items: center;
//   height: 100%;
//   width: 100vw;
// }

.partners_heading {
  padding: 2em;
  width: 75%;
  margin: 0 auto;
}

.partners_heading h1 {
  font-family: domainLight;
  font-size: 2.4rem;
  color: #425030;
}

.partners_nav nav ul {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  text-align: center;
  padding: 1em 0 1em 0;
  margin-bottom: 0;
}

.partners_nav nav ul li {
  list-style-type: none;
  font-family: domainLight;
  color: #425030;
  transition: all .2s ease-in-out;
  padding: 1em 1em 1em 1em;
}

.partners_nav nav ul li h5 {
  margin-top: 0.5em;
  font-size: 1.6rem;
  color: #425030;
}

.partners_nav nav ul li:hover {
  transform: scale(1.1);
}
