.nm_addresses {
  font-size: 16px;
}

.nm_addresses p {
  padding: 0 0 3em 0;
  color: #425030;
}

.nm_addresses h2 {
  margin-bottom: 3em;
  font-family: domainLight;
  color: #425030;
  text-decoration: underline solid #ffff78;
}

.nm_addresses h4 {
  font-family: domainLight;
  color: #425030;
}