@mixin desktop {
  @media screen and (min-width: 1025px) and (max-width: 1280px) {
    @content;
  }
}

@mixin desktop-large {
  @media screen and (min-width: 1281px) {
    @content;
  }
}

@mixin sp-landscape {
  @media screen and (max-width: 926px) and (orientation:  landscape) {
    @content;
  }
}

@mixin sp-portrait {
  @media screen and (max-width: 480px) and (orientation: portrait) {
    @content;
  }
}

@mixin gray-area {
  @media screen and (min-width: 480px) and (max-width: 725px) and (orientation: portrait) {
    @content;
  }
}

@mixin tb-portrait {
  @media screen and (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {
    @content;
  }
}

@mixin tb-landscape {
  @media screen and (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
    @content;
  }
}

.announcement_container {
  padding: 4em 2em 0 2em;
  width: 75%;
  margin: 0 auto;
}

.news_header_container h1 {
  font-family: domainLight;
  color: #425030;
  font-size: 2.4rem;
}

.card_container {
  padding: 2em;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.button_container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.ant-card-meta-title {
  font-family: domainLight !important;
  color: #425030 !important;
  font-size: 2rem !important;
}

.ant-card-meta-description {
  font-family: untitledSans_regular !important;
  font-size: 1rem !important;
  color: #111111 !important
}

.card_button_container {
  padding: 2em 0 2em 0;
}

.button_container .ant-btn {
  width: 200px !important;
  margin: 2em !important;
}

.ant-btn {
  background-color: #ffff78 !important;
  color: #111111 !important;
  font-size: 1.2rem !important;
  height: 50px !important;
  border-radius: 5px !important;
  font-family: domainLight;
  border: none !important;
}

.ant-btn:hover {
  transform: scale(1.1);
}