@mixin desktop {
  @media screen and (min-width: 1025px) and (max-width: 1280px) {
    @content;
  }
}

@mixin desktop-large {
  @media screen and (min-width: 1281px) {
    @content;
  }
}

@mixin sp-landscape {
  @media screen and (max-width: 926px) and (orientation:  landscape) {
    @content;
  }
}

@mixin sp-portrait {
  @media screen and (max-width: 480px) and (orientation: portrait) {
    @content;
  }
}

@mixin gray-area {
  @media screen and (min-width: 480px) and (max-width: 768px) and (orientation: portrait) {
    @content;
  }
}

@mixin tb-portrait {
  @media screen and (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {
    @content;
  }
}

@mixin tb-landscape {
  @media screen and (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
    @content;
  }
}

.timeline-icon {
  height: 75px;
  width: auto;
}

.landing-wrapper {
  margin: 0 auto;
  margin-bottom: 2em;

  .heading-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 5em;
    margin-top: 5em;
    padding: 2em;
    // background-color: aqua;

    .prim-logo {
      height: auto;
      width: 500px;
      margin-bottom: 2em;

      @include gray-area() {
        height: auto;
        width: 425px;
      }

      @include sp-portrait() {
        height: auto;
        width: 325px;
      }
    }

    .prim-blurb {
      text-align: center;
      width: 75%;
      font-size: 18px;
      font-family: 'untitledSans_regular';
      line-height: 35px;
      color: #111111;

      @include gray-area() {
        width: 90%;
      }

      @include sp-portrait() {
        width: 100%;
      }
    }
  }

  .timeline-container {
    background-color: #425030;
    padding: 2em;
  }
}

// .acc-icon {
//   height: 200px;
//   width: auto;
//   padding: 1em;
// }