@mixin desktop {
  @media screen and (min-width: 1025px) and (max-width: 1280px) {
    @content;
  }
}

@mixin desktop-large {
  @media screen and (min-width: 1281px) {
    @content;
  }
}

@mixin sp-landscape {
  @media screen and (max-width: 926px) and (orientation:  landscape) {
    @content;
  }
}

@mixin sp-portrait {
  @media screen and (max-width: 480px) and (orientation: portrait) {
    @content;
  }
}

@mixin tb-portrait {
  @media screen and (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {
    @content;
  }
}

@mixin tb-landscape {
  @media screen and (min-width: 768px) and (max-width: 1366px) and (orientation: landscape) {
    @content;
  }
}

.header {
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: #425030;
}

.header h1 {
  font-family: domainLight;
  color: #fcf9f6;
  font-size: 5rem;
  padding: 1em;

  @include sp-portrait {
      font-size: 3rem;
  }
}

.about_wrapper {
  display: grid;
  grid-template-columns: 1fr auto;
  overflow: hidden;
  border: 1px solid #425030

  // grid-gap: 1rem;
  // grid-template-columns:  repeat(6, 16vw);
  // grid-template-rows: repeat(6, 12vh);
  
  ;
  @include sp-portrait {
    display: block;
  }

  @include sp-landscape {
    display: block;
  }

  @include tb-portrait {
    display: block;
  }

  @include tb-landscape {
    display: block;
  }
}

.about_text_wrapper {
  padding: 3em 3em 3em 3em;
  grid-row: 2/3;
  grid-column: 1/2;
}

.about_image_container {
  grid-row: 1/4;
  grid-column: 5/6;
}

.aboutImage {
  height: 80vh;
  grid-row: 2/5;
  grid-column: 1/4;

  @include sp-landscape {
    height: 100vh;
    display: block;
    margin: 0 auto;
  }

  @include tb-portrait {
    display: block;
    margin: 0 auto;
  }

  @include tb-landscape {
    display: block;
    margin: 0 auto;
  }
}

.about_text h1 {
  font-family: domainLight;
  font-size: 6rem;
  color: #425030;
  text-align: center;
  padding-bottom: 0.5em;
  text-decoration: underline solid #ffff78;

  @include sp-portrait {
    font-size: 4rem;
  }

  @include sp-landscape {
    font-size: 4rem;
  }

  @include tb-portrait {
    font-size: 4rem;
  }

  @include tb-landscape {
    font-size: 4rem;
  }
}

.about_text p {
  font-family: untitledSans_regular;
  font-size: 16px;
  text-align: center;
  color: #425030;
  width: 50%;
  margin: 0 auto;

  @include sp-portrait {
    width: 80%;
  }
}

.purpose_text {
  padding: 2em 0 3em 0;
}

.purpose_text h1 {
  font-family: domainLight;
  font-size: 2.5rem;
  color: #425030;
  text-align: center;
  // padding-bottom: 1em;
}

.purpose_boxes {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  border: 1px solid #425030;
  border-top: none;
  padding: 1em;

  @include sp-portrait {
    display: block;
  }

  @include sp-landscape {
    display: block;
  }

  @include tb-portrait {
    display: block;
  }
}

.purpose_box {
  place-self: center;
  padding: 2em;
  text-align: center;
}

.purpose_box p {
  font-family: untitledSans_regular;
  color: #425030;
  font-size: 16px;
  width: 50%;
  margin: 0 auto;
}

.ceo_container {
  background-image: url('../../../../assets/web/pattern.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: scroll;
  padding: 3em;
}

.message_text {
  border-radius: 5px;
  border: 1px solid #425030;
  background-color: #f0eae2;
  padding: 2em;
  width: 95%;
  margin: 0 auto;
}

.message_text h1 {
  font-family: domainLight;
  font-size: 2.5rem;
  color: #425030;
}

.message_text p {
  font-family: untitledSans_regular;
  color: #425030;
  font-size: 16px;
  width: 80%;

  @include sp-portrait {
    width: 100%;
  }
} 

.message_text h4 {
  font-family: domainLight;
  font-size: 1.2rem;
  color: #425030;
  padding-bottom: 0.5em;
}

.ceo_vision_wrapper {
  // display: grid;
  // grid-template-columns: 1fr 1fr 1fr;
  // grid-gap: 1rem;
  width: 50%;
  padding-top: 2em;
  margin-left: 2em;
  // text-indent: 2em;

  @include sp-portrait {
    display: block;
  }
}

.ceo_vision {
  padding-bottom: 2em;
}