@mixin desktop {
  @media screen and (min-width: 1025px) and (max-width: 1280px) {
    @content;
  }
}

@mixin desktop-large {
  @media screen and (min-width: 1281px) {
    @content;
  }
}

@mixin sp-landscape {
  @media screen and (max-width: 926px) and (orientation:  landscape) {
    @content;
  }
}

@mixin sp-portrait {
  @media screen and (max-width: 480px) and (orientation: portrait) {
    @content;
  }
}

@mixin gray-area {
  @media screen and (min-width: 480px) and (max-width: 768px) and (orientation: portrait) {
    @content;
  }
}

@mixin tb-portrait {
  @media screen and (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {
    @content;
  }
}

@mixin tb-landscape {
  @media screen and (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
    @content;
  }
}

.footer-container {
  // background-color: #425030;
  color: white;

  display: flex;
  justify-content: space-around;
  // align-items: center;

  padding: 5em;

  font-family: untitledSans_regular;

  @include tb-portrait() {
    flex-direction: column;
    text-align: center;
  }

  @include gray-area() {
    flex-direction: column;
    text-align: center;
  }

  @include sp-portrait() {
    flex-direction: column;
    text-align: center;
  };
}

.footer-flexContainer {
  padding: 2em;
  flex: 1 1 0;
}

.footer-container .image-container {
  display: flex; 
  // justify-content: center;

  @include tb-portrait() {
    justify-content: center;
  }

  @include gray-area() {
   justify-content: center;
  }

  @include sp-portrait() {
   justify-content: center;
  };
}

.footer-container h2 {
  font-family: domainLight;
  color: white;

  @include tb-portrait() {
    margin-top: 2em;
  }
}

.working-hours {
  display: flex;
  flex-direction: column;
}

.underline {
  height: 2px;
  width: 100px;
  background-color: #ffff78;
  margin-bottom: 1em;

  @include tb-portrait() {
    margin: 0 auto;
    margin-bottom: 1em;
  }

  @include gray-area() {
    margin: 0 auto;
    margin-bottom: 1em;
  }

  @include sp-portrait() {
    margin: 0 auto;
    margin-bottom: 1em;
  };
}

.icon-container {
  @include tb-portrait() {
    display: flex;
    justify-content: center;
  }

  @include gray-area() {
    display: flex;
    justify-content: center;
  }

  @include sp-portrait() {
    display: flex;
    justify-content: center;
  };
}

.icon-container span {
  padding: 0.25em;
}