.bannerImage_container {
  width: 100%;
  height: 750px;
  background: url('../../../assets/web/dark_background.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.banner_image {
  width: 100%;
}