.App {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: domainLight;
  src: url("./assets/brand_assets/Fonts/Domaine/DomaineText-Light.otf");
}

@font-face {
  font-family: untitledSans_regular_italic;
  src: url("./assets/brand_assets/Fonts/untitled_sans/UntitledSans-RegularItalic.otf");
}

@font-face {
  font-family: untitledSans_regular;
  src: url("./assets/brand_assets/Fonts/untitled_sans/UntitledSans-Regular.otf");
}